body {
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

:root {
    --squish-animation-time: 1500ms;
    --progress-animation-time:1500ms;
    --circle-animation-time:200ms;
    --checkmark-animation-time:200ms;
    --btn-width: 125px;
    --btn-height: 40px;
    --timing-curve: cubic-bezier(0.29, 0.49, 0.38, 1.35);
}

.btn {
    position: relative;
    background-color: #2B2D2F;
    color: #71DFBE;
    border: none;
    border-radius: .125em;
    height: var(--btn-height);
    width: var(--btn-width);
    font-weight: bold;
    cursor: pointer;
    padding: 0;
}

.btn.animating {
    background-color: transparent;
    color: transparent;
    user-select: none;
    cursor: default;
    animation: hide 0ms calc(var(--squish-animation-time) + var(--progress-animation-time)) forwards;
}

.btn::before {
    position: absolute;
    display: none;
    content: "";
    background-color: #2B2D2F;
    inset: 0;
    border-radius: .125em;
    animation: squish var(--squish-animation-time) var(--timing-curve);
    animation-fill-mode: forwards;
}

.btn.animating::before,
.btn.animating::after {
    display: block;
}

.btn::after {
    position: absolute;
    display: none;
    content: "";
    background-color: #AAA;
    left: 51%;
    right: 51%;
    top: 45%;
    bottom: 45%;
    border-radius: .25em;
    animation: progress var(--progress-animation-time) var(--squish-animation-time);
    animation-fill-mode: forwards;
}

.btn.animating + .checkmark-container {
    background-color: #2B2D2F;
    border-radius: .25em;
    width: 0;
    height: 0;
    animation: circle var(--circle-animation-time)
                    calc(var(--squish-animation-time) +
                        var(--progress-animation-time))
                    forwards
                    var(--timing-curve);
    display: flex;
    justify-content: center;
    justify-items: center;
}

.btn.animating + .checkmark-container .checkmark-svg {
    stroke: white;
    width: 25px;
    stroke-dashoffset: 40.84104919433594;
    stroke-dasharray: 40.84104919433594;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
    animation: checkmark var(--checkmark-animation-time)
            calc(var(--circle-animation-time) + var(--squish-animation-time) +
            var(--progress-animation-time)) forwards;
}

@keyframes squish {
    100% {
        left: -25%;
        right: -25%;
        top: 45%;
        bottom: 45%;
        border-radius: .25em;
    }
}
@keyframes progress {
    100% {
        left: -25%;
        right: -25%;
    }
}

@keyframes hide {
    100% {
        height: 0;
        width: 0;
      }
}

@keyframes circle {
    0% {
        width: calc(var(--btn-width) * 1.50);
        height: calc(var(--btn-height) * .1);
    }
    100% {
        width: 25px;
        height: 25px;
        background-color: #71DFBE;
        padding: 5px;
        border-radius: 100%;
    }
}

@keyframes checkmark {
    100% {
        stroke-dashoffset: 0;
    }
}

